// CONTENAIRS
.content {
    margin: 0.5em 1em 1.5em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.content.no-grow {
    flex-grow: 0;
}

.content.grow {
    flex-grow: 1;
}

// TITLES
h2 {
    font-weight: 200;
    margin-left: 0.8em;
}

// BUTTONS
button {
    border: none;
    padding: .5em;
    width: 80%;
    margin: 1em;
    height: 3em;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
}

// links
.box-links {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    margin: 0 2em;
}

button.links:enabled {
    background-color: #84b035;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: background-color 0.2s ease-in-out;
}

button.links:enabled:hover {
    background-color: #649015;
}