.missing-fields {
    display: flex;
    margin: 5em 2em;
    justify-content: center;
    color: darkgray;
}

.links-container button .quick-link {
    display: flex;
    justify-content: start;
    width: 100%;
}