<div style="text-align:center">
    <div class="top">
        <img class="banner" src="assets/banner.jpeg" alt="banner">
        <img class="logo" src="assets/circle.png" alt="logo">
    </div>

</div>

<div class="app-container">
    <app-api *ngIf="display=='api'"></app-api>
    <app-account *ngIf="display=='account'"></app-account>
    <app-doc *ngIf="display=='doc'"></app-doc>
</div>

<div class="bottom">
    <button class="bottom" (click)="show('api')" [ngClass]="display == 'api'? 'selected' : ''">
        <img class="bottom" src="assets/api.svg" alt="api">
        <div class="bottom">API</div>
    </button>
    <button class="bottom" (click)="show('account')" [ngClass]="display == 'account'? 'selected' : ''">
        <img class="bottom" src="assets/account.svg" alt="api">
        <div class="bottom">Accounts</div>
    </button>
    <button class="bottom" (click)="show('doc')" [ngClass]="display == 'doc'? 'selected' : ''">
        <img class="bottom" src="assets/help.svg" alt="api">
        <div class="bottom">DOCUMENTATION</div>
    </button>
</div>