/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('assets/font/SFPro/SFProDisplay-Medium'), url('assets/font/SFPro/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-Medium.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-Medium.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('assets/font/SFPro/SFProDisplay-Heavy'), url('assets/font/SFPro/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-Heavy.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-Heavy.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-UltralightItalic.eot');
    src: local('SF Pro Display UltralightItalic'), local('assets/font/SFPro/SFProDisplay-UltralightItalic'), url('assets/font/SFPro/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-UltralightItalic.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-UltralightItalic.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-RegularItalic.eot');
    src: local('SF Pro Display Regular Italic'), local('assets/font/SFPro/SFProDisplay-RegularItalic'), url('assets/font/SFPro/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-RegularItalic.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-RegularItalic.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('assets/font/SFPro/SFProDisplay-Thin'), url('assets/font/SFPro/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-Thin.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-Thin.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('assets/font/SFPro/SFProDisplay-Light'), url('assets/font/SFPro/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-Light.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-Light.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-BlackItalic.eot');
    src: local('SF Pro Display Black Italic'), local('assets/font/SFPro/SFProDisplay-BlackItalic'), url('assets/font/SFPro/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-BlackItalic.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-BlackItalic.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('assets/font/SFPro/SFProDisplay-Bold'), url('assets/font/SFPro/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-Bold.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-Bold.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('assets/font/SFPro/SFProDisplay-Black'), url('assets/font/SFPro/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-Black.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-Black.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-SemiboldItalic.eot');
    src: local('SF Pro Display SemiboldItalic'), local('assets/font/SFPro/SFProDisplay-SemiboldItalic'), url('assets/font/SFPro/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-SemiboldItalic.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-SemiboldItalic.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('assets/font/SFPro/SFProDisplay-Ultralight'), url('assets/font/SFPro/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-Ultralight.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-Ultralight.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-LightItalic.eot');
    src: local('SF Pro Display LightItalic'), local('assets/font/SFPro/SFProDisplay-LightItalic'), url('assets/font/SFPro/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-LightItalic.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-LightItalic.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-ThinItalic.eot');
    src: local('SF Pro Display ThinItalic'), local('assets/font/SFPro/SFProDisplay-ThinItalic'), url('assets/font/SFPro/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-ThinItalic.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-ThinItalic.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-MediumItalic.eot');
    src: local('SF Pro Display MediumItalic'), local('assets/font/SFPro/SFProDisplay-MediumItalic'), url('assets/font/SFPro/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-MediumItalic.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-MediumItalic.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('assets/font/SFPro/SFProDisplay-Semibold'), url('assets/font/SFPro/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-Semibold.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-Semibold.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-HeavyItalic.eot');
    src: local('SF Pro Display HeavyItalic'), local('assets/font/SFPro/SFProDisplay-HeavyItalic'), url('assets/font/SFPro/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-HeavyItalic.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-HeavyItalic.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('assets/font/SFPro/SFProDisplay-Regular'), url('assets/font/SFPro/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-Regular.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-Regular.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/font/SFPro/SFProDisplay-BoldItalic.eot');
    src: local('SF Pro Display BoldItalic'), local('assets/font/SFPro/SFProDisplay-BoldItalic'), url('assets/font/SFPro/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/SFPro/SFProDisplay-BoldItalic.woff2') format('woff2'), url('assets/font/SFPro/SFProDisplay-BoldItalic.woff') format('woff'), url('assets/font/SFPro/SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    width: 350px !important;
    margin: 0 !important;
    font-size: 12px;
    font-family: "SF Pro Display";
}

html {
    font-style: normal;
    font-weight: 400;
}

html.dark {
    background-color: #333;
    color: white;
}

button:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: inset rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}

button:active {
    transition: all 0.2s ease-in-out;
    box-shadow: inset rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

img.icon-open {
    height: 1.2em;
    filter: invert(1);
    margin-left: 1em;
}

h2 {
    cursor: default;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.notice-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    text-align: center;
    font-weight: 200;
    height: 100%;
}

///////////////////////
// TOOTLTIP
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgb(0 0 0 / 59%);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    margin-left: -30px;
    font-size: smaller;
    font-weight: 300;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #00000061 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.dark button.request {
    color: white !important;
    border: 1px solid black !important;
}