/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "OpenSans";
    src: url("assets/font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

body {
    width: 350px !important;
    margin: 0 !important;
    font-size: 11px;
    font-family: "OpenSans";
}

html {
    font-style: normal;
    font-weight: 400;
}

html.dark {
    background-color: #333;
    color: white;
}

button:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: inset rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}

button:active {
    transition: all 0.2s ease-in-out;
    box-shadow: inset rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

img.icon-open {
    height: 1.2em;
    filter: invert(1);
    margin-left: 1em;
}

h2 {
    cursor: default;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

///////////////////////
// TOOTLTIP
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgb(0 0 0 / 59%);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    margin-left: -30px;
    font-size: smaller;
    font-weight: 300;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #00000061 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.dark button.request {
    color: white !important;
    border: 1px solid black !important;
}