<div class="content" *ngIf="session">
    <div class="box-token">
        <label class="token" for="token">
            NEW API TOKEN
        </label>
        <div class="cloud">manage{{session.domain}}</div>
        <div class="org_select">
            <input type="text" [(ngModel)]="token_name" placeholder="Token Name (optional)" style="margin: 1em 0;padding: 0.5em;border: 1px solid #a7a7a7;" />
            <div *ngIf="displayed_msps.length > 0" >
            <select name=msp_id [(ngModel)]="msp_id" (change)="mspSelected()">
                <option class="none" value="none">
                    <div style="width: 100%; text-align: center;">-- MSP Account --</div>
                </option>
                <option *ngFor="let msp of displayed_msps" [value]="msp.msp_id">
                    <div>{{msp.name}}</div>
                </option>
            </select>
        </div>
            <select name=org_id [(ngModel)]="org_id">
                <option class="none" value="none">
                    <div style="width: 100%; text-align: center;">-- Please Select an Org --</div>
                </option>
                <option *ngFor="let org of displayed_orgs" [value]="org.org_id">
                    <div>{{org.name}}</div>
                </option>
            </select>
            <select name="role" [(ngModel)]="role">
                <option value="admin">Super User</option>
                <option value="write">Network Admin</option>
                <option value="read">Observer</option>
            </select>
            <select name="scope" [(ngModel)]="scope" *ngIf="false">
                <option value="org">Org</option>
                <option value="site" disabled>Site</option>
                <option value="sitegroup" disabled>SiteGroup</option>
            </select>

            <select *ngIf="scope=='site'" name="site_id" [(ngModel)]="site_id">                
                <option class="none" value="none">
                    <div style="width: 100%; text-align: center;">-- Please Select a Site --</div>
                </option>
            </select>
            <select *ngIf="scope=='sitegroup'" name="sitegroup_id" [(ngModel)]="sitegroup_id">  
                <option class="none" value="none">
                    <div style="width: 100%; text-align: center;">-- Please Select a Site Group --</div>
                </option>
            </select>

            <button (click)="createToken()" class="xlarge">Create</button>
        </div>
        <div class=token-input>
            <textarea class="token" type="text" readonly rows="3" [ngClass]="focused == 'token'? 'focused' : ''" id="token" #org_token_input>{{token.key}}</textarea>
            <button class="copy" name="copy" (click)="copyToken(org_token_input)">
                <img class="copy" src="assets/copy.svg" alt="copy">
            </button>
        </div>
    </div>
    <button (click)="close()" class="close">CLOSE</button>
</div>