.doc_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: smaller;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
    cursor: pointer;
    margin: 1em 0;
}

.doc_link .operation {
    color: black;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: small;
    margin: 0 1em;
    padding: 0 0.5em;
}

.doc_link:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: #ddd;
}

.doc_link .operation img {
    color: gray;
    height: 1.5em;
    margin: 0.5em;
    filter: invert(100%) sepia(0) saturate(1352%) hue-rotate( 0deg) brightness(10%) contrast(0);
}

.method {
    margin: 0.5em;
    padding: 0.5em;
    width: 6em;
    font-weight: 500;
    border-radius: 0.5em;
    text-align: center;
}

.get {
    color: green;
    border: 1px solid green;
}

.post {
    color: blue;
    border: 1px solid blue;
}

.put {
    color: orange;
    border: 1px solid orange;
}

.delete {
    color: red;
    border: 1px solid red;
}