<div class="popup-content" *ngIf='session'>
    <div class="box-token">
        <label for="token">
            NEW API TOKEN
        </label>
        <div class="cloud">manage{{session.domain}}</div>
        <div class="token-name">
            <input type="text" [(ngModel)]="token_name" placeholder="Token Name (optional)"/>
        </div>
        <div class="textarea" fxLayout="row">
            <textarea class="token" type="text" readonly rows="3" [ngClass]="focused == 'token'? 'focused' : ''" id="token" #token_input>{{token.key}}</textarea>
            <button class="copy" name="copy" (click)="copyToken(token_input)" [disabled]="token.key==''">
                    <img class="copy" src="assets/copy.svg" alt="copy">
                </button>
        </div>
    </div>
    <div class="popup-footer">
        <button (click)="close()" class="xlarge">CLOSE</button>
        <button (click)="createToken()" class="secondary xlarge">Create</button>
        </div>
</div>