// CONTENAIRS
.cloud {
    font-weight: 300;
}

.box-token {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.token-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.token-input button.copy {
    height: 75px;
}

textarea.token:read-only {
    resize: none;
    width: 100%;
    text-align: center;
    font: inherit;
    font-weight: 200;
    padding: 0 1em;
    margin: 1em 0;
    background-color: transparent;
    transition: all 1s ease-in-out;
    color: white;
    height: 75px;
    border: 1px solid #4f5560;
    border-radius: 15px 0 0 15px;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}


label.token {
    margin: .2em .5em .2em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.1em;
}

.token_opt {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.token_opt input {
    margin: 1em 0;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(50, 50, 93, 0.25);
    color: white;
}

.token_opt input:focus {
    background-color: black;
    border-color: #63b4ee;
}