
// SETTINGS
.setting-desc {
    color: var(--text-color);
    font-weight: 300;;
    width: calc(100% - 60px);
    margin-top: -1.2em;
}

.setting-container {
    margin: 0 1em;
    .setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        font-size: larger; 
        margin: 1em 0;
        
        label {
            color: var(--text-color);
        }
    }
}

