<div class="content data-container">
  <h2>Settings</h2>
  <div class="setting-container">
    <div class="checkbox-wrapper setting">
      <label for="id_links">Enable ID Links generation</label>
      <input
        class="switch"
        type="checkbox"
        [(ngModel)]="id_links"
        name="id_links"
        (change)="changeIdLinks()"
      />
    </div>
    <div class="setting-desc">
      This feature will try to generate hyperlinks on the Django UI pages for
      known IDs
    </div>
  </div>
</div>

<div class="content">
  <h2>API Token Tools</h2>
  <div class="links-container">
    <button class="links xlarge" (click)="openPopup('token-info')">
      <div>API Token Info</div>
    </button>
    <button class="links xlarge" (click)="openPopup('token-usage')">
      <div>API Token Usage</div>
    </button>
  </div>
</div>
<app-tools-token-info
  class="popup transparent"
  [ngClass]="{ hidden: view != 'token-info' }"
  (closePopup)="closePopup('token-info')"
></app-tools-token-info>
<app-tools-token-usage
  class="popup transparent"
  [ngClass]="{ hidden: view != 'token-usage' }"
  (closePopup)="closePopup('token-usage')"
></app-tools-token-usage>
