.error {
    color: #ff0000d7;
}

.info-container {
    height: 52vh;
    padding: 0;
    max-height: 52vh;
    border-radius: 0;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary)  #202836;

    .header {
        font-size: larger;
        user-select: none;
        .cosm {
            font-weight: 200;
        }
        .value {
            font-weight: 500;
        }
    }

    .usage_count {
        display: flex;
        justify-content: space-between;
        margin: 1em;
    }

    .privilege {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        border: 1px solid #4f5560;
        box-shadow: 0 3px 6px 0 rgba(99, 99, 99, 0.1);
        border-radius: 15px;
        background-color: #161c26;
        padding: 1em;
        margin: 1em 0;
        
        .privilege-info-container {
            margin: 0 0 .5em 0;
            .label {
                font-weight: 300;
                user-select: none;
            }
            .value {
                font-size: larger;
                font-weight: 700;
            }
            .value.name {
                max-width: 11em;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .value.fixed {
                width: 4em;
            }
        }
        
        .privilege-info.row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        
        .privilege-info.column {
            display: flex;
            flex-direction: column;
        }
    }
}





