// CONTENAIRS
.content {
    margin: 0.5em 1em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.content.no-grow {
    flex-grow: 0;
}

.content.grow {
    flex-grow: 1;
}

// TITLES
h2 {
    font-weight: 200;
    margin-left: 0.8em;
}

.not_mist {
    text-align: center;
    font-weight: 100;
}

// apitab
.box-apitab {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button.apitab {
    margin: 0.2em;
    border-radius: 4px;
    padding: .5em;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

button.apitab:enabled {
    background-color: #0096a3;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

button.apitab:enabled:hover {
    background-color: #007683;
}

// BUTTONS
button {
    border: none;
    padding: 0.5em;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
}

// DISABLED INPUTES
.ids {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.box-ids {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-ids-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

input.ids:read-only {
    width: 100%;
    border-radius: 2px;
    text-align: center;
    font: inherit;
    font-weight: 200;
    border: none;
    padding: 0.3em;
    border-radius: 60px;
    background-color: transparent;
    transition: all 1s ease-in-out;
}

input.ids:focus-visible {
    outline: none;
}

input.ids.focused {
    background-color: #555;
    transition: all 0.2s ease-in-out;
}

label.ids {
    margin: .2em .5em .2em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.1em;
}

button.copy-ids {
    background-color: white;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    display: flex;
    margin-left: 1em;
}

button.copy-ids:hover img.copy-ids {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(40deg) brightness(90%) contrast(119%);
    transition: filter 0.2s ease-in-out;
}

img.copy-ids {
    height: 20px;
}

button.request {
    margin: 2em;
    background-color: unset;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
    transition: background-color 0.2s ease-in-out;
}

button.request:hover {
    background-color: lightgray;
}