<div style="text-align:center">
    <div style="    position: absolute;height: 50px;color: white;font-size: large;display: flex;align-items: center;margin-left: 1em; user-select: none;font-weight: 100;">JuniperMIST API</div>
    <div class="top">
        <img class="banner" src="assets/banner2.jpeg" alt="banner">
        <img class="logo" src="assets/mist.png" alt="logo">
    </div>

</div>

<div class="app-container">
    <app-api *ngIf="display=='api'" style="overflow: auto;"></app-api>
    <app-account *ngIf="display=='account'" style="overflow: auto;"></app-account>
    <app-tools *ngIf="display=='tools'" style="overflow: auto;"></app-tools>
    <app-about *ngIf="display=='about'" style="overflow: auto;"></app-about>
</div>

<div class="bottom">
    <button class="bottom" (click)="show('api')" [ngClass]="display == 'api'? 'selected' : ''">
        <img class="bottom icon" src="assets/hub.svg" alt="api">
        <div class="bottom xxs">API</div>
    </button>
    <button class="bottom" (click)="show('account')" [ngClass]="display == 'account'? 'selected' : ''">
        <img class="bottom icon" src="assets/account.svg" alt="account">
        <div class="bottom xxs">Accounts</div>
    </button>
    <button class="bottom" (click)="show('tools')" [ngClass]="display == 'tools'? 'selected' : ''">
        <img class="bottom icon" src="assets/tools.svg" alt="tools">
        <div class="bottom xxs">Tools</div>
    </button>
    <button class="bottom" (click)="show('about')" [ngClass]="display == 'about'? 'selected' : ''">
        <img class="bottom icon" src="assets/info.svg" alt="help">
        <div class="bottom xxs">about</div>
    </button>
</div>