.top {
    height: 50px;
    width: 100%;
    object-fit: cover;
    background: rgb(13, 76, 125);
    background: linear-gradient(0deg, rgba(13, 76, 125, 1) 0%, rgba(52, 153, 244, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.top .banner {
    height: 50px;
    width: 100%;
    object-fit: cover;
}

.logo {
    position: absolute;
    right: 22px;
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 27px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 100;
    background-color: white;
}

//
.app-container {
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

//
div.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

// MENU BUTTONS
button.bottom {
    background-color: #202836;
    color: #ddd;
    transition: all .2s ease-in-out;
    flex-direction: column;
    width: 100%;
    border: none;
    display: flex;
    padding: 0.5em;
    align-items: center;
    cursor: pointer;
}

button.bottom.selected {
    color: #63b4ee;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

button.bottom:not(.selected):hover {
    color: #63b4ee;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button.bottom:not(.selected):hover img {
    transition: all 0.2s ease-in-out;
    filter: brightness(0) saturate(100%) invert(84%) sepia(36%) saturate(6550%) hue-rotate(179deg) brightness(103%) contrast(87%);
}

button.bottom:active {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s ease-in-out;
}

button.bottom:not(.selected) img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(6%) hue-rotate(314deg) brightness(93%) contrast(89%);
    transition: all 0.2s ease-in-out;
}

button.bottom.selected img {
    filter: brightness(0) saturate(100%) invert(84%) sepia(36%) saturate(6550%) hue-rotate(179deg) brightness(103%) contrast(87%);
    transition: all 0.2s ease-in-out;
}

img.bottom {
    height: 2em;
}

div.bottom {
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: smaller;
}

div.xxs {
    font-size: xx-small !important;
}

img.icon {
    margin: 0.2em;
}