<div class="content" *ngIf='session'>
    <div class="box-token">
        <label class="token" for="token">
            NEW API TOKEN                
        </label>
        <div class="cloud">manage{{session.domain}}</div>
        <div class="token_opt">
            <input type="text" [(ngModel)]="token_name" placeholder="Token Name (optional)" style="margin: 1em 0;padding: 0.5em;border: 1px solid #a7a7a7;" />
            <button (click)="createToken()">Create</button>
        </div>
        <div class=token-input>
            <textarea class="token" type="text" readonly rows="3" [ngClass]="focused == 'token'? 'focused' : ''" id="token" #token_input>{{token.key}}</textarea>
            <button class="copy-token" name="copy" (click)="copyToken(token_input)">
                <img class="copy-token" src="assets/copy.svg" alt="copy">
            </button>
        </div>
    </div>
    <button (click)="close()" class="close">CLOSE</button>
</div>