

<div class="content">
    <h2>Extension information</h2>
    <div class="content data-container box-version">
        <div class="version-info" style="padding: 0.5em 0;">
            <div class="version-text">Current Version:</div>
            <div class="version-value">{{current_version}}</div>
        </div>
        <!-- <div class="version-info">
            <div class="version-text">Latest Version:</div>
            <div class="version-unknown" *ngIf="!last_version && !error_happened">
                <div>Searching for new version...</div>
                <img src="assets/question.svg" alt="unknown version">
            </div>
            <div class="version-uptodate" *ngIf="last_version && up_to_date">
                <div>You have the latest Version</div>
                <img src="assets/check_circle.svg" alt="unknown version">
            </div>
            <div class="version-newversion" *ngIf="last_version && !up_to_date">
                <div>New version available ({{last_version}})</div>
                <button class="download" (click)="openTab('download_url')">
                    <div>Download</div>
                    <img src="assets/download.svg" alt="download">
                </button>
            </div>
            <div class="version-error" *ngIf="error_happened">
                <div>{{error_message}}</div>
            </div>
        </div> -->
    </div>
    <div class="links-container">
        <button class="links xlarge" (click)="openTab('github')">
            <div>Github Page</div>
            <img class="icon-open" src="assets/open.svg" alt="open">
        </button>
    </div>
</div>

<div class="content">
    <h2>Mist API Documentation</h2>
    <div class="links-container">
        <button class="links xlarge" (click)="openTab('openapi')">
            <div>API Documentation</div>
            <img class="icon-open" src="assets/open.svg" alt="open">
        </button>
        <button class="links xlarge" (click)="openTab('postman')">
            <div>Postman Collection</div>
            <img class="icon-open" src="assets/open.svg" alt="open">
        </button>
    </div>
</div>

<div class="content">
    <h2>Mist Integrations</h2>
    <div class="links-container">
        <button class="links xlarge" (click)="openTab('https://store.servicenow.com/sn_appstore_store.do#!/store/search?q=juniper')">
            <div>Servicenow</div>
            <img class="icon-open" src="assets/open.svg" alt="open">
        </button>
        <button class="links xlarge" (click)="openTab('https://registry.terraform.io/providers/Juniper/mist/latest')">
            <div>Terraform</div>
            <img class="icon-open" src="assets/open.svg" alt="open">
        </button>
        <button class="links xlarge" (click)="openTab('https://www.pulumi.com/registry/packages/junipermist/')">
            <div>Pulumi</div>
            <img class="icon-open" src="assets/open.svg" alt="open">
        </button>
    </div>
</div>