////////////////////////VERSION
.box-version {
    margin: 0 1em 1em;
    padding: 0;

    .version-info {
        display: flex;
        flex-direction: row;
        margin: 0.5em 1em;

        .version-text {
            font-weight: 300;
            margin-right: 1em;
        }

        .version-unknown {
            display: flex;
            flex-direction: row;
            img {
                height: 1.4em;
                margin-left: 1em;
                filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(7deg) brightness(90%) contrast(119%);
            }

        }

        .version-uptodate {
            display: flex;
            flex-direction: row;
            img {
                height: 1.4em;
                margin-left: 1em;
                filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(45deg) brightness(90%) contrast(119%);
            }
        }

        .version-newversion {
            display: flex;
            flex-direction: column;
            button.download {
                margin: 0.5em 0;
                width: 100%;
                img {
                    height: 1.4em;
                    margin-left: 1em;
                    filter: invert(48%) sepia(20%) saturate(1500%) hue-rotate(6deg) brightness(100%) contrast(300%);
                }
            }
        }
    }
}