// MAIN
button {
    user-select: none;
    border: none;
    padding: .5em;
    margin: 0.3em auto;
    height: 2.5em;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled,
button:disabled:hover {
    background-color: #eee;
    color: #aaa;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px !important;
    cursor: default;
}

button:enabled {
    background-color: #161c26;
    color: #fff;
    border: 2px solid #63b4ee;
    border-radius: 15px;
    padding: 1.5em 1em;
    // background-color: #1964a3;
    // color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
    transition: all 0.2s ease-in-out;
}

button:enabled:hover {
    background-color: #05477e;
    box-shadow: rgba(50, 50, 93, 0.5) 0 4px 7px 2px inset, rgba(0, 0, 0, 0.3) 0 3px 3px -1px inset !important
}

button.stroked:disabled,
button.Stroked:disabled:hover {
    background-color: unset;
    color: #aaa;
    border: 1px solid #aaa;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px !important;
    cursor: default;
}

button.stroked:enabled {
    background-color: unset;
    color: white;
    border: 1px solid #18c956;
}

button.stroked:enabled:hover {
    background-color: #18c956;
    box-shadow: rgb(50 50 93 / 60%) 0 4px 6px -12px inset, rgb(0 0 0 / 60%) 0 3px 6px -4px inset !important;
}

// LARGE 
button.large {
    width: 80%;
}

// XLARGE 
button.xlarge {
    width: 100%;
}

// COPY IDS
button.copy {
    background-color: #18c956;
    transition: all 0.1s ease-in-out;
    border-radius: 15px;
    display: flex;
    border: unset;
    margin: 0;
    border-radius: 0 15px 15px 0;
}

button.copy:enabled:hover {
    background-color: #18c956a3;
}

button.copy img.copy {
    height: 20px;
    filter: invert(42%) brightness(1000%) contrast(100%);
}

button.copy:disabled,
button.copy:disabled {
    background-color: unset;
    border: 1px solid gray;
}

button.copy:disabled img.copy {
    filter: none;
}

// OPEN EXTERNAL
button img.icon-open {
    height: 15px;
    padding: 0 5px;
    filter: invert(100%) brightness(100%) contrast(100%);
}

// REQUEST
button.request {
    margin: 2em;
    background-color: unset;
    border: 1px solid #777;
    color: #777;
}

button.request:hover {
    background-color: lightgray;
}

// CLOSE
button.close {
    background-color: #1d2430;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: background-color 0.2s ease-in-out;
    margin: 1em 1em;
    border-radius: 15px;
    padding: 1.5em 2em;
}

button.close:hover {
    background-color: #007683;
}

// LINKS TO DOC
button.doc-link {
    font-family: 'Lato';
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: smaller;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 1.5em 0;
    border-radius: 5px;
    width: 100%;
}

button.doc-link:hover {
    background-color: #fbfbfb;
    transition: all 1s ease-in-out;
}

button.doc-link .operation {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: small;
    padding: 0 0.5em;
}

button.doc-link .operation img {
    color: gray;
    height: 1.5em;
    margin: 0.5em;
    filter: invert(100%) brightness(100%) contrast(100%);
    //filter: invert(100%)  saturate(1352%) brightness(10%) contrast(0);
}

button.doc-link .operation .operationId {
    width: 14em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
    text-align: start;
}

button.doc-link .method {
    background-color: white;
    border-radius: 2px 0 0;
    margin: 0;
    padding: 0.8em;
    width: 6em;
    font-weight: 500;
    text-align: center;
    box-shadow: inherit;
    font-weight: 600;
}

select:focus,
input:focus {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}


textarea.token:focus-visible {
    outline: none;
}

textarea.token.focused {
    background-color: #555;
    transition: all 0.2s ease-in-out;
}