////////////////////// MAIN
button {
    user-select: none;
    margin: 0.3em auto;
    height: 2.5em;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 1.5em 1em;
    cursor: pointer;
}

button:disabled,
button:disabled:hover,
button.secondary:disabled,
button.Stroked:disabled:hover {
    background-color: rgba(99, 99, 99, 0.2);
    border: 1px solid var(--border);
    color: var(--text-disabled);
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px !important;
    cursor: default;
}

button:disabled img,
button:disabled:hover img,
button.secondary:disabled img,
button.Stroked:disabled:hover img {
    filter: brightness(0) saturate(100%) invert(87%) sepia(0%) saturate(726%) hue-rotate(227deg) brightness(80%) contrast(85%);
}

button:enabled {
    background-color: var(--background2);
    color: var(--text-color);
    border: 1px solid var(--primary);
    border-radius: 15px;
    padding: 1.5em 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
    transition: all 0.2s ease-in-out;
}

button:enabled:hover {
    background-color: var(--primary-background);
    box-shadow: rgba(50, 50, 93, 0.5) 0 4px 7px 2px inset, rgba(0, 0, 0, 0.3) 0 3px 3px -1px inset !important
}

button.secondary:enabled {
    background-color: unset;
    color: var(--text-color);
    border: 1px solid var(--secondary);
}

button.secondary:enabled:hover {
    background-color: var(--secondary-background);
    box-shadow: rgba(50, 50, 93, 0.5) 0 4px 7px 2px inset, rgba(0, 0, 0, 0.3) 0 3px 3px -1px inset !important
}

////////////////////// LARGE 
button.large {
    width: 80%;
}

////////////////////// XLARGE 
button.xlarge {
    width: 100%;
}

////////////////////// XLARGE 
button.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

////////////////////// COPY IDS
button.copy {
    background-color: var(--secondary);
    transition: all 0.1s ease-in-out;
    border-radius: 15px;
    display: flex;
    border: unset;
    margin: 0;
    border-radius: 0 15px 15px 0;
}

button.copy:enabled:hover {
    background-color: var(--secondary);
}

button.copy img.copy {
    height: 20px;
    filter: invert(42%) brightness(1000%) contrast(100%);
}

button.copy:disabled,
button.copy:disabled {
    background-color: unset;
    border: 1px solid gray;
}

button.copy:disabled img.copy {
    filter: none;
}

////////////////////// OPEN EXTERNAL
button img.icon-open {
    height: 15px;
    padding: 0 5px;
    filter: invert(100%) brightness(100%) contrast(100%);
}

////////////////////// REQUEST (report missing url)
button.request {
    margin: 2em;
    background-color: unset;
    border: 1px solid var(--disabled);
    color:  var(--text-disabled);
}

button.request:hover {
    background-color: lightgray;
}

////////////////////// CLOSE
button.close {
    background-color: #1d2430;
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: background-color 0.2s ease-in-out;
    margin: 1em 1em;
    border-radius: 15px;
    padding: 1.5em 2em;
}

button.close:hover {
    background-color: #007683;
}

////////////////////// CIRCLE
button.circle {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 60px !important;
    margin: 0 1em;
    padding: 0 !important;
}

button.circle img {
    height: 15px;
    filter: invert(100%) brightness(100%) contrast(100%);
}

button.tooltip .tooltiptext {
    font-size: smaller;
    font-weight: 100;
    background-color: var(--background2);
    border: 1px solid var(--border);
    border-radius: 15px;
}

button.tooltip .tooltiptext.top {
    top: -84%;
    left: 10%;
}
