input.working:read-only,
input.working:read-only:focus {
    border: 1px solid #4f5560 !important;
    background-color: #2d343f !important;
    color: #4f5560 !important;
    user-select: none;
}


select:focus,
input:focus {
    background-color: black;
    border-color: var(--primary);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}


.rw-container {
    margin: 1em;

    label {
        margin: .2em .5em .2em 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        letter-spacing: 0.1em;
    }

    div.input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    div.input input {
        margin: 1em 0;
        padding: 0.5em;
        border: 1px solid white;
        border-radius: 10px;
        background-color: rgba(50, 50, 93, 0.25);
        color: white;
        transition: border-color .2s ease-in-out;
    }

    div.input input:focus {
        background-color: black;
        border-color: var(--primary);
        transition: border-color .2s ease-in-out;
    }

}


// DISABLED INPUTS
.ids {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    user-select: none;
}

.box-ids {
    border: 1px solid #4f5560;
    border-radius: 15px;
    margin: .6em 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 0;
}

.box-ids-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.box-ids-text {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    transition: all 1s ease-in-out;
    border-radius: 15px 0 0 15px;
}

input.ids:read-only {
    color: white;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    font: inherit;
    font-weight: 300;
    margin: 0;
    border: none;
    border-radius: 60px;
    background-color: transparent;
    transition: all 1s ease-in-out;
}

input.ids:focus-visible {
    outline: none;
}

input.ids.focused,
.box-ids div.focused {
    background-color: #555;
    transition: all 0.2s ease-in-out;
}

label.ids {
    color: #ddd;
    margin: .2em .5em .2em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.1em;
}