
// CONTENAIRS
.content {
    margin: 1em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.popup {
    position: absolute;
    top: 50px;
    left: 0;
    height: 455px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    background-color: #202836;
}

.popup.transparent {
    backdrop-filter: blur(2px);
    background: rgb(0 0 0 / 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}