.content {
    padding: 1em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: #202836;
    margin: 1em;
    padding: 1em;
    border: 1px solid #bbb;
    border-radius: 15px;
    max-height: 90vh;
}
.content.full-height {
    min-height: 90vh;
}
// CONTENAIRS
// .content {
//     margin: 1em;
//     display: flex;
//     align-items: stretch;
//     flex-direction: column;
// }

.popup {
    position: absolute;
    top: 50px;
    left: 0;
    height: 455px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    background-color: #202836;
    z-index: 100;
}


.popup.transparent {
    backdrop-filter: blur(2px);
    background: rgb(0 0 0 / 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}