.popup-content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: var(--background);
    margin: 1em;
    padding: 1em;
    border-radius: 15px;
    max-height: 95vh;
    border: 1px solid var(--border);
}


.popup-content.full-height {
    min-height: 90vh;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    background-color: var(--background);
    z-index: 100;
}


.popup.transparent {
    backdrop-filter: blur(5px);
    background: rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}