
textarea:focus-visible {
    outline: none;
}

textarea.focused {
    background-color: var(--border) !important;
    transition: background-color 0.3s ease-in-out !important;
}


.textarea {
    display: flex;
    width: 100%;
    margin: 2em 0 1em;
    
    textarea:read-only {
        resize: none;
        width: 100%;
        text-align: center;
        font: inherit;
        font-weight: 400;
        padding: 0 1em;
        margin: 0;
        background-color: transparent;
        transition: all 1s ease-in-out;
        color: var(--text-color);
        height: 90px;
        border: 1px solid var(--border);
        border-radius: 15px 0 0 15px;
        align-content: center;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
    }
    
    button.copy {
        height: 90px;
    }
    
}