// clouds
.box-cloud {
    margin: 2em 2em 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border: 1px solid #4f5560;
    box-shadow: 0 3px 6px 0 rgba(99, 99, 99, 0.1);
    border-radius: 15px;
    background-color: #161c26;
}

// info on the top part of the box
.box-cloud-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// left part (mostly text)
.box-cloud-info-left {
    width: 75%;
}

.box-cloud-info-login {
    margin: .3em 1em 0 1em;
}

.box-cloud-info-login div.error {
    height: 1em;
    margin: .9em 0;
    color: #ff0000d7;
}

.title-cloud-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0em;
    transition: background-color 0.2s ease-in-out;
    padding-left: .6em;
}

.title-cloud-box.link {
    cursor: pointer;
}

.title-cloud-box.link h2 {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: white;
}

.title-cloud-box.link:hover h2 {
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
    color: #62b4ee;
}

.title-cloud {
    font-weight: 300;
    margin: 0.2em;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
}

.title-cloud.link {
    cursor: pointer;
}

.title-cloud img {
    margin-left: 0.5em;
    margin-top: .2em;
    height: 1em;
    filter: invert(100%) brightness(100%) contrast(100%);
}

.text-cloud {
    margin: 0.2em auto;
    font-weight: 300;
    user-select: none;
}

.text-cloud.first {
    margin-top: .5em;
}

.text-cloud.last {
    margin-bottom: 0.2em;
}

.cloud {
    width: 50%;
    transition: background-color 0.2s ease-in-out;
    background-color: #ddd;
}

.cloud:hover {
    background-color: #bbb;
}

// right part (api usage)
.box-cloud-info-right {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-right: 1em;
}

.box-cloud-info-right h3 {
    margin-top: 0.6em;
}

.progress-bar {
    height: 3.5em;
    width: 3.5em;
    color: white;
    border-radius: 50%;
    background: radial-gradient(closest-side, #161c26 79%, transparent 80% 100%), conic-gradient(#7dff69 0%, #698bc7 0);
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

// Bottom part with API token 
.box-cloud-token {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.box-cloud-token-container {
    display: flex;
    flex-direction: column;
    margin: .7em;
    border: 1px solid #4f5560;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 40%;
    padding: .5em;
    background-color: black;
}

.box-cloud-token-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: .5em;
}

.box-cloud-token-button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 60px !important;
    margin: 0 1em;
    padding: 0 !important;
}

.box-cloud-token-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
}

.box-cloud-token-title img {
    height: 20px;
    margin: 4px;
    filter: invert(100%) brightness(100%) contrast(100%);
}

.box-cloud-token-button img {
    height: 15px;
    filter: invert(100%) brightness(100%) contrast(100%);
}

// BUTTONS
button {
    border: none;
    padding: 0.5em;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
}

button.token {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    cursor: pointer;
}



// tooltip
.tooltip .tooltiptext {
    top: -84%;
    left: 10%;
    font-size: smaller;
    font-weight: 100;
    background-color: #161c26;
    border: 1px solid #4f5560;
    border-radius: 15px;
}

b {
    font-weight: 600;
}