// clouds
.box-cloud {
    margin: 2em 2em 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border: 1px solid var(--border);
    box-shadow: 0 3px 6px 0 rgba(99, 99, 99, 0.1);
    border-radius: 15px;
    background-color: var(--background);
}

// info on the top part of the box
.box-cloud-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// left part (mostly text)
.box-cloud-info-left {
    width: 75%;
}

.box-cloud-info-login {
    margin: .3em 1em 0 1em;
}

.box-cloud-info-login div.error {
    height: 1em;
    margin: .9em 0;
    color: var(--error);
}

.title-cloud-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0em;
    transition: background-color 0.2s ease-in-out;
    padding-left: .6em;
}

.title-cloud-box.link {
    cursor: pointer;
}

.title-cloud-box.link h2 {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
}

.title-cloud-box.link:hover h2 {
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
    color: var(--text-hover);
}

.title-cloud {
    font-weight: 300;
    margin: 0.2em;
    display: flex;
    color: var(--text-color);
    flex-direction: row;
    align-items: center;
}

.title-cloud.link {
    cursor: pointer;
}

.title-cloud img {
    margin-left: 0.5em;
    margin-top: .2em;
    height: 1em;
    filter: invert(100%) brightness(100%) contrast(100%);
}

.text-cloud {
    margin: 0.2em auto;
    font-weight: 300;
    user-select: none;
}

.text-cloud.first {
    margin-top: .5em;
}

.text-cloud.last {
    margin-bottom: 0.2em;
}

// right part (api usage)
.box-cloud-info-right {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-right: 1em;
}

.box-cloud-info-right h3 {
    margin-top: 0.6em;
}

.progress-bar {
    height: 3.5em;
    width: 3.5em;
}

// Bottom part with API token 
.box-cloud-token {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    .box-cloud-token-container {
        display: flex;
        flex-direction: column;
        margin: .7em;
        border: 1px solid var(--border);
        border-radius: 15px;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        width: 40%;
        padding: .5em;
        background-color:  var(--background2);

        .box-cloud-token-title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            -webkit-user-select: none;
            user-select: none;
            align-items: center;
            img {
                height: 20px;
                margin: 4px;
                filter: invert(100%) brightness(100%) contrast(100%);
            }
        }
        .box-cloud-token-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: .5em;
        }
    }
}

