.error {
    color: #ff0000d7;
}

.usage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em 1em;
    font-size: small;
}

.progress-bar {
    height: 7em;
    width: 7em;
}