// GRID
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-weight: 100;
    margin: .2em .5em;
    width: 100%;
}

.grid-item div input {
    max-width: 100%;
}

////// INPUT
.help.icon {
    filter: invert(100%) sepia(0) saturate(1352%) hue-rotate(0deg) brightness(10%) contrast(0);
    height: 15px;
    margin-left: 1px;
}

input {
    border: 1px solid lightgray;
    padding: 5px 0 5px 5px;
    margin: 2px 0;
}

select:focus,
input:focus {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.ng-untouched {
    color: gray;
}

select {
    max-width: 100%;
    padding: 4px;
    border: 1px solid lightgray;
    margin: 2px 0.9em 2px 0;
}

// tooltip
.tooltip .tooltiptext {
    top: 100%;
    left: -30%;
}