// GRID
.grid-wrapper {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
    min-width: 0;
    max-width: 100%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-weight: 300;
    margin: .2em .5em;
    width: 100%;
}

.grid-item div input {
    max-width: 95%;
}

// tooltip
.tooltip .tooltiptext {
    top: 100%;
    left: -30%;
}

.documentation-container {
    display: flex;
    flex-direction: row;
}

.documentation-container button {
    width: 6.3em;
    height: 4em;
    border-radius: 15px !important;
    display: flex;
    align-items: center;
    font-size: unset;
    user-select: none;
    justify-content: center;
}


.documentation-container button:disabled div img {
    filter: brightness(0) saturate(100%) invert(87%) sepia(0%) saturate(726%) hue-rotate(227deg) brightness(80%) contrast(85%);
}

.documentation-container button div img {
    filter: invert(100%) brightness(100%) contrast(100%);
    height: 14px;
    margin-top: 2px;
    margin-left: 5px;
}

.documentation-container button:enabled.get {
    background-color: #18c95675;
    border: 1px solid #18c956;
}

.documentation-container button:enabled.post {
    background-color: #63b4ee75;
    border: 1px solid #63b4ee;
}

.documentation-container button:enabled.put {
    background-color: #ffa50075;
    border: 1px solid #ffa500;
}

.documentation-container button:enabled.delete {
    background-color: #ff000075;
    border: 1px solid #ff0000;
}

////// INPUT
.help.icon {
    filter: invert(100%) sepia(0) saturate(1352%) hue-rotate(0deg) brightness(10%) contrast(0);
    height: 15px;
    margin-left: 1px;
}


.ng-untouched {
    color: gray;
}

label {
    margin-left: .3em;
}
select {
    max-width: 95%;
    width: 95%;
}
input {
    width: 85%;
}
select,
input {
    margin: .3em 0;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(50, 50, 93, 0.25);
    color: white;
}
select:focus,
input:focus {
    background-color: black;
    border-color: #63b4ee;
}