option {
    text-align: start;
}

option.none {
    text-align: center !important;
}

.token-container {
    height: 8em;
}

.token table tr th {
    width: 80px;
}
.token table tr td {
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 160px;
}