// CONTENAIRS
.content {
    padding: 1em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: white;
    margin: 1em;
    padding: 0;
    border: 1px solid #bbb;
    border-radius: 2px;
}

.cloud {
    font-weight: 300;
}

.box-ztppassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.ztppassword-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

textarea.ztppassword:read-only {
    resize: none;
    width: 100%;
    text-align: center;
    font: inherit;
    font-weight: 200;
    border: none;
    padding: 1em 1em;
    margin: 1em 0;
    border-radius: 6px;
    background-color: transparent;
    transition: all 1s ease-in-out;
}

textarea.ztppassword:focus-visible {
    outline: none;
}

textarea.ztppassword.focused {
    background-color: #555;
    transition: all 0.2s ease-in-out;
}

label.ztppassword {
    margin: .2em .5em .2em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.1em;
}

.ztppassword_opt {
    display: flex;
    flex-direction: column;
    width: 100%;
}