

.box-ztppassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    label {
        margin: .2em .5em .2em 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        letter-spacing: 0.1em;
    }
    .device-id {
        font-weight: 300;
    }
}

