// CONTENAIRS
.content {
    margin: 0.5em 1em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.content.no-grow {
    flex-grow: 0;
}

.content.grow {
    flex-grow: 1;
}

.page-info,
.documentation {
    background-color: #161c26;
    border: 1px solid #4f5560;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    padding: 0 1em 1em;
    margin: 1em;
}

// TITLES
h2 {
    margin-left: 0.8em;
    user-select: none;
}

.not_mist {
    text-align: center;
    font-weight: 50%;
    user-select: none;
}

// apitab
.box-apitab {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

// DISABLED INPUTS
.ids {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    user-select: none;
}

.box-ids {
    border: 1px solid #4f5560;
    border-radius: 15px;
    margin: .6em 0;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    display: flex
;
}

.box-ids-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.box-ids-text {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    transition: all 1s ease-in-out;
}

input.ids:read-only {
    color: white;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    font: inherit;
    font-weight: 300;
    margin: 0;
    border: none;
    border-radius: 60px;
    background-color: transparent;
    transition: all 1s ease-in-out;
}

input.ids:focus-visible {
    outline: none;
}

input.ids.focused,
.box-ids div.focused {
    background-color: #555;
    transition: all 0.2s ease-in-out;
}

label.ids {
    color: #ddd;
    margin: .2em .5em .2em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.1em;
}

.missing-fields {
    display: flex;
    margin: 5em 2em;
    justify-content: center;
    color: darkgray;
}