.container {
    margin: 0;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #202836;
}

.token-container {
    margin: 0.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #161c26;
    border: 1px solid #4f5560;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    height: 8em;

    .token {
        display: flex;
        flex-direction: column;
        padding: .5em;

        table tr {
            th {
                width: 80px;
                font-weight: 300;
                text-align: left;
            }

            td {
                width: 140px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 140px;

                div.name {
                    max-width: 13em;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            td:hover {
                overflow: visible;
            }

            td:hover span {
                position: relative;
                background-color: white;

                box-shadow: 0 0 4px 0 black;
                border-radius: 1px;
            }
        }
    }

    .delete,
    .delete button {
        height: 100%;
        margin: 0;
        box-shadow: unset !important;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;
        border-radius: 0 15px 15px 0;
        border: none;
        background-color: #4f5560;

        img {
            transition: background-color 0.2s ease-in-out;
            filter: invert(90%);
        }
    }

    .delete button:hover {
        background-color: #f44336;
    }
}