// CONTENAIRS
.content {
    margin: 1em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

// BUTTONS
button {
    border: none;
    padding: 0.5em;
}

button.close {
    width: 100%;
    background-color: #0096a3;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: background-color 0.2s ease-in-out;
}

button.close:hover {
    background-color: #007683;
}

.container {
    margin: 0;
    overflow: auto;  
    scrollbar-width: thin;
    scrollbar-color: #63b4ee #202836;
}

.token-container {
    margin: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #161c26;
    border: 1px solid #4f5560;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    height: 7em;
}

.token {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.token-info {
    display: flex;
    flex-direction: row;
}

.delete,
.delete button {
    height: 100%;
    margin: 0;
    box-shadow: unset !important;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #4f5560;
}

.delete button:hover {
    background-color: #f44336;
}

.delete button img {
    transition: background-color 0.2s ease-in-out;
    filter: invert(90%);
}

.delete button:hover img {
    filter: invert(90%);
}


div.token table tr td div.name {
    max-width: 13em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.token table tr th {
    width: 80px;
    font-weight: 300;
    text-align: left;
}
.token table tr td {
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 130px;
}

.token table tr td:hover {
overflow: visible;
}

.token table tr td:hover span {
position: relative;
background-color: white;

box-shadow: 0 0 4px 0 black;
border-radius: 1px;
}