
<div class="popup-content full-height">
    <div class="container" style="height: 100%; display: flex; flex-direction: column; justify-content: flex-start;">
        <div *ngIf="tokens.length == 0" style="height: 100%;display: flex;justify-content: center;flex-direction: column;text-align: center; font-weight: lighter; margin: 1em;">
            <div style="margin: 1em;">This account doesn't have any API Token yet...</div>
            <div style="margin: 0 2em;">You can go back and create a new API Token directly from this extension!</div>
        </div>
        <div class="token-container" *ngFor="let token of tokens" [ngClass]="token.deleted == true ? 'deleted' : ''">
            <div class="token">
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>
                            <div class="name">{{token.name}}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Key:</th>
                        <td>
                            <div>{{token.key}}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Creation Time:</th>
                        <td>
                            <div>{{(token.created_time * 1000)| date:'yyyy-MM-dd HH:mm:ss' }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Last Used Time:</th>
                        <td>
                            <div *ngIf="token.last_used" [ngStyle]="{'color': now - (token.last_used * 1000) > 7776000000  ? 'var(--warning)' : null}">{{(token.last_used * 1000)| date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            <div *ngIf="!token.last_used" style="color: var(--error);font-weight: 400;">Never</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="delete">
                <button (click)="confirmDeleteToken(token)">
                    <img src="assets/delete.svg" alt="delete">
                </button>
            </div>
        </div>
    </div>

    <div style="display: flex;">
        <button (click)="close()" class="xlarge">CLOSE</button>
    </div>
</div>
<div class="message-container">
    <div class="message success" [ngClass]="success == true ? 'show' : ''">
        API Token Deleted
    </div>
    <div class="message error" [ngClass]="error == true ? 'show' : ''">
        Unable to delete the API Token
    </div>
</div>

<app-token-delete-warning 
    [ngClass]="{hidden: view != 'warning'}"
    class="popup transparent"
    (warningConfirm)="warningConfirm()"
    (warningCancel)="warningCancel()"
>
</app-token-delete-warning>
